@font-face {
  font-family: 'Oleo Script';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/oleoscript/v9/rax5HieDvtMOe0iICsUccChdu0o.ttf) format('truetype');
}
@font-face {
  font-family: 'Oleo Script';
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/oleoscript/v9/raxkHieDvtMOe0iICsUccCDmnlrf0T4.ttf) format('truetype');
}
